
    
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Mukta', sans-serif;
      height:100vh;
      min-height:550px;
      position: relative;

  }

  .gridwrapper-index{
    display: grid;
    grid-template-areas:
    "na na na na"
    "s1 s1 s1 s1"
    "se se se se"
    "se se se se"
    "se se se se"
    "a4 a4 a4 a4"
    "a5 a5 a5 a5"
    "fo fo fo fo"
    ;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10vh 85vh 45vw 20vh 1fr 95vh 95vh 30vh;
    grid-template-columns: 6fr 1fr 1fr 3fr;
    background: linear-gradient(rgb(0, 0, 0), rgba(174, 23, 166, 0.776));
    grid-gap: 0.7vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
}

  .nav{
    grid-area: na;
    background: rgba(40, 201, 255, 0.719);
    position: sticky;    
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.burger section{
    width: 25px;
    height: 3px;
    background: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.6s;
}

.burger {
    cursor: pointer;
    display: block;
    transform: translateX(0%);
}

.list_stil{
    font-size: 3.5vh;
    font-family: 'Muli', sans-serif;
}

.list-item-div{
    width: 34vw;
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-12px,2px) scale(1.4,1);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-10px,2px) scale(1.4,1);
}

.diamond-grid{
    z-index: 1;
}

.meny {
    list-style: none;
    display: flex;
    justify-content: space-around;  
    position: absolute;
    right: 0;
    left: 0;
    height: 92vh;
    top: 10vh; 
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    background: rgb(40, 201, 255);
    z-index: 2;
}


.meny li{
    font-weight: 300;
    margin: 10px;
    text-transform: uppercase;
    position: relative;
    padding: 0.5vh;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5vh;
}

.meny li::before,
.meny li::after{
    content: "";
    width: 100%;
    height: 0.27vh;
    background: rgb(255, 0, 242);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.meny li::after{
    bottom: 0;
    transform-origin: right;
}

.meny li::before{
    top: 0;
    transform-origin: left;
}

.meny li:hover::before,
.meny li:hover::after {
    transform: scaleX(1);
}

.nav-active{ 
    transform: translateX(0%);
    transform: translateY(0%);
    transition: all 0.6s ease;  
}

@keyframes Fade{
    from{
        opacity: 0;
        transform: translateX(50px);
        } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (min-width: 964px) {
    
    
    .meny{
        list-style: none;
        display: flex;
        justify-content: space-around;  
        position: relative;
        right: 0;
        height: 10vh;
        top: 0vh; 
        flex-direction: row;
        align-items: center;
        display: flex;
        align-items: center;
        width: 50vw;
        transform: translateX(0%);
        transition: transform 0.5s ease;
        background: rgba(255, 255, 255, 0);       
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        height: 10vh;
     
    }
    .burger{
        opacity: 0;
    }
    .meny li a {
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 16px;
        font-weight: 300;
        margin: 1.35vh;
        text-transform: uppercase;
            
    }
    .list-item-div{
        opacity: 1;
        transform: translateX(0);
        margin: 0;
        width: 10vw;
    }

    .list_stil{
        font-size: 2.5vh;
    }
   
}





.gridwrapper-min-sida{
    display: grid;
    grid-template-areas:
    "na na na na"
    "se se se se"
    "b1 b1 b1 b1"
    
    ;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10vh 60vh;
    grid-template-columns: 100vw 1fr 1fr 3fr;
   
    grid-gap: 0.7vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    background: linear-gradient(rgb(0, 0, 0), rgba(174, 23, 166, 0.776));
    z-index: 1;

}

video{
    margin: 0;
    left: 0;
    height: 115vh;
    z-index: 0;
}


@media screen and (max-width: 792px) {
    a{
        text-decoration:none;
        color:#444444;
    }

    .login-reg-panel{
        position: fixed;
        top: 80%;
        transform: translateY(-50%);
        text-align: left;
        width: 70%;
        right:0;
        left:0;
        margin: auto;
        height: 200px;
        background-color: rgb(30, 30, 30);
        grid-area: se;
        z-index: -1;
        border-radius: 10%;
        max-width: 300px;
        
    }

    .login-reg-panel h2{
        font-size: 2.3vh;
        padding: 0;
        text-align: left;
    }

    .login-reg-panel p{
        font-size: 1.4vh;

    }

    .white-panel{
        background-color: rgba(255,255, 255, 1);
        height: 300px;
        position: fixed;
        top: -160%;
        width: 100%;
        max-width: 300px;
        transition:.3s ease-in-out;
        z-index:0;
        border-radius: 10%;
    }

    .login-reg-panel input[type="radio"]{
        position: relative;
        display: none;
    }
    .login-reg-panel{
        color:#B8B8B8;
    }
    .login-reg-panel #label-login, 
    .login-reg-panel #label-register{
        border:1px solid #9E9E9E;
        padding:0 5px;
        width: 50%;
        display: block;
        text-align: center;
        border-radius:3px;
        cursor:pointer;
    }
    .login-info-box{
        width: 130%;
        padding: 0 50px;
        top: 20%;
        left: 0;
        position: absolute;
        text-align: left;
    }
    .register-info-box{
        width:130%;
        padding:0 50px;
        top: 20%;
        left: 0;
        position: absolute;
        text-align: left;
    }

    .login-show, 
    .register-show{
        z-index: 1;
        display:none;
        opacity:0;
        color:#242424;
        text-align:left;
        padding:50px;
    }
    .show-log-panel{
        display:block;
        opacity:0.9;
    }
    .login-show input[type="text"], .login-show input[type="password"]{
        width: 87%;
        display: block;
        margin:20px 0;
        padding: 10px;
        border: 1px solid #b5b5b5;
        outline: none;
    }

    .login-show input[type="button"] {
        width: 100%;
        background: #444444;
        color: #f9f9f9;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 2px;
        cursor:pointer;
    }
    .login-show a{
        display:inline-block;
        padding:15px 0;
    }

    .register-show input[type="text"], .register-show input[type="password"]{
        width: 87%;
        display: block;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #b5b5b5;
        outline: none;
    }
    .register-show input[type="button"] {
        width: 99%;
        background: #444444;
        color: #f9f9f9;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 2px;
        cursor:pointer;
    }
    .credit {
        position:absolute;
        bottom:10px;
        left:10px;
        color: #3B3B25;
        margin: 0;
        padding: 0;
        font-family: Arial,sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        z-index: 99;
    }
    a{
    text-decoration:none;
    color:#eaeaea;
    }
}



@media screen and (min-width: 793px) {
  .login-reg-panel{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align:center;
      width: 70%;
      right:0;
      left:0;
      margin:auto;
      height: 400px;
      background-color: rgba(30,30,30, 0.9);
      grid-area: se;
      z-index: -1;
      border-radius: 0%;
    }
  .white-panel{
      background-color: rgba(255,255, 255, 1);
      height: 500px;
      position:absolute;
      top:-50px;
      width:50%;
      right:calc(50% - 50px);
      transition:.3s ease-in-out;
      z-index:0;
  }
  .login-reg-panel input[type="radio"]{
      position:relative;
      display:none;
  }
  .login-reg-panel{
      color:#B8B8B8;
  }
  .login-reg-panel #label-login, 
  .login-reg-panel #label-register{
      border:1px solid #9E9E9E;
      padding:0 5px;
      width:150px;
      display:block;
      text-align:center;
      border-radius:3px;
      cursor:pointer;
  }
  .login-info-box{
      width:30%;
      padding:0 50px;
      top:20%;
      left:0;
      position:absolute;
      text-align:left;
  }
  .register-info-box{
      width:30%;
      padding:0 50px;
      top:20%;
      right:0;
      position:absolute;
      text-align:left;
      
  }
  .right-log{right:50px !important;}
  
  .login-show, 
  .register-show{
      z-index: 1;
      display:none;
      opacity:0;
      transition:0.3s ease-in-out;
      color:#242424;
      text-align:left;
      padding:50px;
  }
  .show-log-panel{
      display:block;
      opacity:0.9;
  }
  .login-show input[type="text"], .login-show input[type="password"]{
      width: 90%;
      display: block;
      margin:20px 0;
      padding: 15px;
      border: 1px solid #b5b5b5;
      outline: none;
  }
  .login-show input[type="button"] {
      max-width: 150px;
      width: 90%;
      background: #444444;
      color: #f9f9f9;
      border: none;
      padding: 10px;
      text-transform: uppercase;
      border-radius: 2px;
      float:right;
      cursor:pointer;
  }
  .login-show a{
      display:inline-block;
      padding:10px 0;
  }
  
  .register-show input[type="text"], .register-show input[type="password"]{
      width: 100%;
      display: block;
      margin:20px 0;
      padding: 15px;
      border: 1px solid #b5b5b5;
      outline: none;
  }
  .register-show input[type="button"] {
      max-width: 150px;
      width: 100%;
      background: #444444;
      color: #f9f9f9;
      border: none;
      padding: 10px;
      text-transform: uppercase;
      border-radius: 2px;
      float:right;
      cursor:pointer;
  }
  .credit {
      position:absolute;
      bottom:10px;
      left:10px;
      color: #3B3B25;
      margin: 0;
      padding: 0;
      font-family: Arial,sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      z-index: 99;
  }
  a{
    text-decoration:none;
    color:#eaeaea;
  }
}






  .img-sektion{

    width: 100vw;
    background-image: url(../img/pamela-saunders-yV8hguKKMq0-unsplash.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: s1;
    display: flex;
    justify-content: center;
    z-index: -2;
}

.menyruta{
    height: 32vh;
    width: 70vw;
    position: relative;
    top: 50%;
    background: rgba(5, 27, 31, 0.776);
    z-index: -1;
    padding: 3vh;
}

.menyruta h1{
    margin-bottom: 3vh;
}

.choice select{
    background:  rgba(29, 113, 190, 0.849);
    color: whitesmoke;
    padding: 10px;
    padding-left: 30vw;
    width: 100%;
    height: 40px;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.808);
    -webkit-appearance: button;
    border: none;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 10px;
}

option{
    width: 80px;
    height: 40px;
}

.choice:before{
    content: '\f13a';
    font-family: "Font Awesome 5 Free";
    position: absolute;
    text-align: center;
    line-height: 40px;
    color: #444444;
    left: calc(100% - 40px - 3vh);
    width: 40px;
    height: 40px;
    background: rgb(79, 147, 211);
    pointer-events: none;
}

.choice:hover:before{
    background: rgb(182, 207, 231);
}

.var:after{
    content: 'Välj destination';
    font-family: "Titillium Web', sans-serif";
    position: absolute;
    text-align: left;
    line-height: 40px;
    color: whitesmoke;
    left: 3vh;
    width: 17vw;
    height: 40px;
    background: rgb(79, 147, 211);
    pointer-events: none;
    padding-left: 20px;
    font-size: 12px;
}

.choice::after{
    font-family: "Titillium Web', sans-serif";
    position: absolute;
    text-align: left;
    line-height: 40px;
    color: whitesmoke;
    left: 3vh;
    width: 20vw;
    height: 40px;
    background: rgb(79, 147, 211);
    pointer-events: none;
    padding-left: 10px;
    font-size: 2.8vw;
}

.hur:after{
    content: 'Välj restyp';

}

.datum:after{
    content: 'Välj datum';
}

.antal:after{
    content: 'Antal resande';  
}

.search{
    height: 40px;
    background: rgba(29, 113, 190, 0.849);
    width: 50%;
    text-align: center;
}








.section_index{
    height: 90vh;
    width: 90%;
    background: bisque;
    margin-left: 5%;
    z-index: -2;
    margin-bottom: 5vh;
}

.section_index{
grid-area: a4;
}

#section2_index{
    height: 50vh;
    width: 90%;
    grid-area: a5;
    background: bisque;
    margin-left: 5%;
    z-index: -2;
}

.section_index h1{
    color: black;
    margin: 5vh;
}

.section_image_index{
    height: auto;
    width: 100%;
    margin-left: 0vw;

}

@media screen and (min-width: 450px) {
    .wrapper{
        height: 99px;
        width: 99px;
        transform: rotate(45deg);
        position: fixed;
        bottom: 10vh;
        left: 10vw;

        display: grid;
        grid-template-areas: 
        "b1 b2 b3"
        "b4 b5 b6"
        "b7 b8 b9"
        ;
        z-index: 0;
    }

    .box p{
        transform: rotate(-45deg);
        font-size: 13px;
    }
}





.wrapper_weather{
    grid-area: s5;

}

.box{
    background: black;
    display: flex;
    height: 33px;
    width: 33px;
    overflow: hidden;  
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    margin: 2px;
    transition: 0.3s;
}



.center-box{
    background-color: rgba(40, 201, 255, 0.719);
    grid-area: b5;
    opacity: 1;
}

.center-box-active{
    background-color: #e91e62;

}



.box:hover{
    background-color: rgba(240, 248, 255, 0.685);
}

.box:active{
    background-color: rgba(8, 73, 129, 0.685);
}

.box-active{
    opacity: 1;
}

.box p{
    font-size: 13px;
}

box p i{
    color: aliceblue;

}

.center-box-active p i{
    font-size: 15px;
}

.box:hover i{
    color: black;
}


.diamond-grid{
    padding: 0;
    margin: 100px;
    grid-area: se;
    width: 70vw;
    height: 70vw;
    transform: rotate(45deg);
    position: absolute;
    top: -150px;
    
    display: grid;
    grid-template-areas: 
    "n01 n02 n03 n04 n05"
    "n06 n07 n08 n09 n10"
    "n11 n12 n13 n14 n15"
    "n16 n17 n18 n19 n20"
    "n21 n22 n23 n24 n25"
    ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}

.item{
    background: linear-gradient(rgb(4, 5, 61), rgba(9, 73, 133, 0.776));;
    display: flex;
    justify-content: center;
    align-items: center;
}




.item1{
    grid-area: n04;

    background-repeat: no-repeat;
    background-size: 100%;
}
.item2{
    grid-area: n08;

}
.item3{
    grid-area: n09;
    background: rgba(9, 73, 133, 0.776);
}
.item4{
    grid-area: n10;
}
.item5{
    grid-area: n12;
}
.item6{
    grid-area: n13;
    background: rgb(4, 5, 61);
}
.item7{
    grid-area: n14;
}
.item8{
    grid-area: n16;
}
.item9{
    grid-area: n17;
    background: rgba(9, 73, 133, 0.776);
}
.item10{
    grid-area: n18;
}
.item11{
    grid-area: n22;
}

.item:hover{
    background: rgba(250, 250, 250, 0.776);
}
.item h2{
    color: #f9f9f9;
    transform: rotate(-45deg);
    font-size: 17px;
}

.item:hover h2{
    color: rgb(14, 19, 70);
} 

.item3:hover, .item9:hover{
    background: rgba(9, 73, 133, 0.776);
}

.item6:hover{
    background: rgb(4, 5, 61);
}



.footer{
    height: 25vh;
    grid-area: fo;
    background: rgba(49, 146, 231, 0.685);

}




h1{
    color: rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

h2{
    font-family: 'Titillium Web', sans-serif;
}


p{
    color: rgb(250, 250, 250);
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4vh;
}

.login-reg-panel p{
    padding-top: 5px;
    padding-bottom: 15px;
}


.icon{
    font-size: 4vh;
    cursor: pointer;
}

#user_logo{
    font-size: 7vh;
}

#user_logo_index{
    font-size: 5vh;
}

#logga_in_link{
    position: relative;
    right: 0;
    width: 25vw;
}

.mindre_link_text{
    color: #444444;
}








.gridwrapper-weather{
    display: grid;
    grid-template-areas:
    "na na na na"
    "s1 s1 s1 s1"
    "s2 s2 s2 s2"
    "s3 s3 s3 s3"
    "s4 s4 s4 s4"
    "s5 s5 s5 s5"
    "s6 s6 s6 s6"
    "fo fo fo fo"
    
    ;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10vh 70vh 70vh 70vh 70vh 70vh 100vh 40vh;
    grid-template-columns: 100vw 1fr 1fr 1fr;
   
    grid-gap: 0.7vh;
    overflow-x: scroll;
    overflow-y: scroll;
    position: fixed;
    background: linear-gradient(rgb(0, 0, 0), rgba(174, 23, 166, 0.776));
    z-index: 1;

}




.card{
    grid-area: s1;
    height: 60vh;
    width: 86%;
    position: absolute;
    top: 20%;
    left: 0%;
    transform: translateX(-50%,-50%);
    z-index: -3;

}

.card2{
    grid-area: s2;
}



.card3{
    grid-area: s3;
}

.card4{
    grid-area: s4;
}

.card5{
    grid-area: s5;
}

.card6{
    grid-area: s6;
}

@media screen and (min-width: 480px) {

    .gridwrapper-weather{
        display: grid;
        grid-template-areas:
        "na na na na"
        "s1 s1 s2 s2"
        "s3 s3 s4 s4"
        "s5 s5 s6 s6"
        
        
        ;
        height: 100vh;
        width: 100vw;
        grid-template-rows: 10vh 70vh 70vh 70vh 70vh 70vh 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
        grid-gap: 0.7vh;
        overflow-x: scroll;
        overflow-y: scroll;
        position: fixed;
        background: linear-gradient(rgb(0, 0, 0), rgba(174, 23, 166, 0.776));
        z-index: 1;
    }

    .card{
        height: 60vh;
        width: 90%;
        position: absolute;
        top: 20%;
        left: 5%;
        transform: translateX(-50%,-50%);
        z-index: -3;
    
    }

}

@media screen and (min-width: 800px) {

    .gridwrapper-weather{
        display: grid;
        grid-template-areas:
        "na na na na na na"
        "s1 s1 s2 s2 s3 s3"
        "s4 s4 s5 s5 s6 s6"
        
        
        
        ;
        height: 100vh;
        width: 100vw;
        grid-template-rows: 10vh 70vh 70vh 70vh 70vh 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
       
        grid-gap: 0.7vh;
        overflow-x: scroll;
        overflow-y: scroll;
        position: fixed;
        background: linear-gradient(rgb(0, 0, 0), rgba(174, 23, 166, 0.776));
        z-index: 1;
    }

    .card{
        height: 60vh;
        width: 90%;
        position: absolute;
        transform: translateX(-50%,-50%);
        z-index: -3;
    
    }

}


.card .front{
    width: 100%;
    height: 100%;
    background-image: url(../img/mathieu-bigard-OIautOqmEGg-unsplash.jpg);
    background-size: cover;
    padding: 5vh;
    box-sizing: border-box;
    transition: .5s;
    transform-origin: right;
    transform: translateX(0%) rotate(0deg);
}

.card2 .front{
    background-image: url(../img/marco-bonomo-491PQ04olSg-unsplash.jpg);
    background-size: cover;
}


.card3 .front{
    background-image: url(../img/joshua-reddekopp-7Oq9r2CiTLg-unsplash.jpg);
    background-size: cover;
}

.card4 .front{
    background-image: url(../img/stanley-dai-QLfjlyEamV4-unsplash.jpg);
    background-size: cover;
}

.location{
    font-weight: bold;
    width: 50%;
    text-align: left;
    float: left;
    color: #fff;
    font-size: 3vh;
}

.more{
    width: 50%;
    text-align: right;
    cursor: pointer;
    float: right;
    font-size: 3vh;
    color: #fff;
    display: block;
}

.weather{
    padding: 10vh 0 5vh;
    text-align: center;
}

.weather .fa{
    font-size: 10vh;
    color: white;
}

.weather h1{
    margin: 0;
    padding: 0;
    font-size: 4vh;
    color: white;
    text-align: center;
}

.weather span{
    margin: 0;
    padding: 0;
    font-size: 2vh;
    color: white;
}



.forecast{
    margin: 0;
    padding: 0;
}

.forecast li{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.forecast li:nth-child(3){
    border-bottom: none;
}

.forecast li .day{
    width: 50%;
}

.forecast li .temp{
    width: 50%;
    text-align: right;
}

.card .back{
    grid-area: se;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(30,30,30, 0.9);
    padding: 4vh;
    box-sizing: border-box;
    top: 0;
    left: 0%;
    transform-origin: left;
    transition: 0.5s;
    transform: translateX(100%) rotateY(90deg);
}

.card .back-active{
    transform: translateX(0%) rotate(0deg);
}

.card .front-notActive{
    transform: translateX(-100%) rotateY(90deg);
}


.go-back{
    font-size: 3vh;
    color: white;
    text-align: right;
}
.go-back .fa{
    cursor: pointer;
    color: white;
}

.forecast .fa{
    padding-right: 2vw;
}

.logo{
    height: 14vh;
}

.icon p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vh;
}

fas{
    color: white;
    font-size: 20px;
}

a{
    font-style: none;
}