
    
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Mukta', sans-serif;
    height:100vh;
    min-height:550px;
    position: relative;
}

  .gridwrapper-index{
    display: grid;
    grid-template-areas:
    "na na na na"
    "s1 s1 s1 s1"
    "a1 a1 a1 a1"
    "a2 a2 a2 a2"
    "ma ma ma ma"
    "a3 a3 a3 a3"
    "a4 a4 a4 a4"
    "a5 a5 a5 a5"
    "fo fo fo fo"
    ;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10vh 60vh 54vh 50vh 60vh 70vh 40vh 40vh 170vh;
    background: linear-gradient(rgb(0, 0, 0), rgba(174, 23, 166, 0.776));
    background: whitesmoke;
    grid-gap: 0.7vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
   
}

.nav{
    grid-area: na;
    background: rgba(9, 73, 133, 0.776);
    position: sticky;    
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    z-index: 3;
}

.nav-scrolled{
    background: rgba(40, 201, 255, 0.719);
}

.burger div{
    width: 25px;
    height: 3px;
    background: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.6s;
}

.burger {
    cursor: pointer;
    display: block;
    transform: translateX(0%);
}

.list_stil{
    font-size: 3.5vh;
    font-family: 'Muli', sans-serif;
}

.list-item-div{
    width: 55vw;
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-12px,2px) scale(1.4,1);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-10px,2px) scale(1.4,1);
}

.diamond-grid{
    position: absolute;
    z-index: -1;
}

.meny {
    list-style: none;
    display: flex;
    justify-content: space-around;  
    position: absolute;
    right: 0;
    left: 0;
    height: 92vh;
    top: 10vh; 
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    background: rgb(40, 201, 255);
    z-index: 2;
}


.meny li{
    font-weight: 300;
    margin: 10px;
    text-transform: uppercase;
    position: relative;
    padding: 0vh;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5vh;
    display: block;
}

.meny li::before,
.meny li::after{
    content: "";
    width: 100%;
    height: 0.27vh;
    background: rgb(255, 0, 242);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.meny li::after{
    bottom: -5px;
    transform-origin: right;
}

.meny li::before{
    top: -5px;
    transform-origin: left;
}

.meny li:hover::before,
.meny li:hover::after {
    transform: scaleX(1);
}

.nav-active{ 
    transform: translateX(0%);
    transform: translateY(0%);
    transition: all 0.6s ease;  
}

@keyframes Fade{
    from{
        opacity: 0;
        transform: translateX(50px);
        } 
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (min-width: 964px) {
    
    
    .meny{
        list-style: none;
        display: flex;
        justify-content: space-around;  
        position: relative;
        right: 0;
        height: 10vh;
        top: 0vh; 
        flex-direction: row;
        align-items: center;
        display: flex;
        align-items: center;
        width: 50vw;
        transform: translateX(0%);
        transition: transform 0.5s ease;
        background: rgba(255, 255, 255, 0);       
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        height: 10vh;
     
    }
    .burger{
        opacity: 0;
        display: none;
    }
    .meny a {
        text-decoration: none;
        letter-spacing: 0px;
        font-size: 16px;
        font-weight: 300;
        margin: 1vh;
        text-transform: uppercase;
            
    }
    .list-item-div{
        opacity: 1;
        transform: translateX(0);
        margin: 0;
        width: 13vw;
        right: 30px;
    }

    .list_stil{
        font-size: 2.5vh;
    }
}

.img-sektion{

    width: 100vw;
    background-image: url(../img/pamela-saunders-yV8hguKKMq0-unsplash.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: s1;
    display: flex;
    justify-content: center;
    background-position: top;
    z-index: -2;
}

.menyruta{
    height: 40vh;
    width: 70vw;
    position: relative;
    top: 17vw;
    background: rgba(5, 27, 31, 0.776);
    z-index: -1;
    padding: 3vh;
    margin-bottom: 20vh;
    z-index: 2;
}

.restyper{
    background: rgb(73, 73, 85);
    height: 35vh;
    width: 100vw;
    grid-area: a2;
    z-index: -2;
    position: relative;
}

.mindre_bild{
    height: 25.5vh;
    position: absolute;
    right: -15vw;
    top: 5vh;
    transform: rotate(90deg)
}

@media screen and (min-width: 750px) {
    .gridwrapper-index{
        grid-template-rows: 10vh 80vh 40vw 50vw 50vh 60vh 40vh 44vh 65vh;
        grid-template-columns: 6fr 1fr 1fr 3fr;
    }

    .menyruta{
        position: relative;
        top: 30vh;
    }

    .restyper{
        background: rgb(73, 73, 85);
        height: 50vh;
        width: 100vw;
        grid-area: a2;
        z-index: -2;
        position: relative;
    }

    .mindre_bild{
        height: 37vh;
        position: absolute;
        right: -4vw;
        top: 6.5vh;
        transform: rotate(90deg)
    }
}


@media screen and (min-width: 1050px) {

    .gridwrapper-index{
        grid-template-rows: 10vh 85vh 50vh 70vh 50vh 65vh 45vh 45vh;
        grid-template-columns: 6fr 1fr 1fr 3fr;
    }

    .img-sektion{
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
    }

    .about_corona h2, 
    .about_corona h4, 
    .about_corona p{
        margin-left: 12vw;
        display: block;
        width: 30vw;
    }

    footer{
        height: 45vh;
    }

    .menyruta{
        position: relative;
        top: 35vh;
        
    }

    .mindre_bild{
        height: 44vh;
        position: absolute;
        right: -4vw;
        top: 8vh;
        transform: rotate(90deg)
    }
}




.about_corona{
    background: whitesmoke;
    height: 30vh;
    width: 100%;
    grid-area: a1;
    padding: 50px;
    z-index: 1;
}

.about_corona h2{
    font-size: 4vh;
    display: block;
    margin-right: 10vw;
}

.about_corona h4{
    text-align: left;
    font-size: 2vh;
    margin-right: 20vw;
    margin-top: 2vh;
}

.about_corona p{
    color: black;
    font-size: 2vh;
    margin-top: 2vh;
    margin-right: 20vw;

}



.restyper::after{
    content: "";
    position: absolute;
    height: 300px;
    width: 200px;
    top: -14vh;
    right: 0;
    background: whitesmoke;
    transform: skewY(45deg);
    -ms-transform-origin: right;
    transform-origin: right;
    z-index: 1;
}

.restyper h2{
    color: whitesmoke;
    font-size: 4vh;
    display: inline-block;
    margin: 20px;
    padding-right: 10px;
    box-shadow: 12px 10px 5px -8px rgb(245, 144, 77);
}



.restyper p{
    color: whitesmoke;
    font-size: 1.5vh;
    display: block;
    width: 40vw;
    margin: 15px;
    padding-left: 2vw;
    font-family: 'Mukta', sans-serif;
}

.restyper p:hover{
    color: rgb(245, 144, 77);
}



.main_index{
    grid-area: ma;
}

.main_index h2{
    color: rgb(0, 0, 0);
    font-size: 5vh;
    display: inline-block;
    margin-left: 20px;
    padding-right: 10px;
}

.main_index h3{
    text-align: left;
    font-size: 3vh;
    margin-left: 20px;
    margin-top: 2vh;
}

.main_index p{
    color: rgb(0, 0, 0);
    font-size: 2vh;
    margin: 20px;
    padding-right: 10px;
    font-family: 'Mukta', sans-serif;
}

.bilder-div{
    display: flex;
    justify-content: space-around;
    height: 50vh;
    width: 100vw;
    overflow: scroll;
    z-index: 4;
    white-space: nowrap;
}

.bilder_i_div{
    height: 45vh;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;

}



.bilder_i_div h2{
    color: whitesmoke;
    font-size: 3vh;
    padding: 20px;
    padding-top: 7vh;
}
.bilder_i_div h3{
    color: whitesmoke;
    font-size: 2vh;
    padding-top: 7vh;
    margin: 0 20px;
    padding-bottom: 2vh;
}

.img1{
    background-image: url(../img/IMG_0264.jpg);
}

.img2{
    background-image: url(../img/guillaume-groult-k0G79qQQY_E-unsplash.jpg);
}

.img3{
    background-image: url(../img/IMG_0259.jpg);
}

.filter{
    height: 45vh;
    width: 30vw;
    position: absolute;
    background: rgba(99, 2, 99, 0.301);
}

.nyhetsbrev{
    grid-area: a4;
    height: 40vh;
    background-image: url(../img/IMG_0259.jpg);
    background-size: cover;
    background-position: center;
}


.nyhetsbrev h2{
    color: whitesmoke;
    font-size: min(4.8vw, 4vh);
    display: inline-block;
    margin: 20px;
    padding-right: 10px;
    box-shadow: 3px 10px 5px -8px rgb(255, 255, 255);
}


.nyhetsbrev input[type="text"]{
    width: 60%;
    display: block;
    margin: 20px 20px;
    padding: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    outline: none;
}

.nyhetsbrev input[type="button"]{
    width: minmax(30vh, 20vw);
    background: #aa8960;
    color: #f9f9f9;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin-left: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor:pointer;
}

.kontakta_oss{
    grid-area: a5;
    height: 40vh;
    width: 100%;
    background: rgba(158, 158, 158, 0.13);
}


.kontakta_oss h2{
    color: rgb(131, 127, 127);
    margin-top: 5vh;
    padding-left: 4vw;
    font-family: 'Mukta', sans-serif;
    font-size: 4vh;
}

.kontakta_oss h4{
    color: rgb(131, 127, 127);
    padding-left: 4vw;
    font-family: 'Mukta', sans-serif;
    font-size: 2.5vh;
    margin-bottom: 2vh;
}

.kontakta_oss p{
    color: rgb(131, 127, 127);
    padding-left: 4vw;
    font-family: 'Mukta', sans-serif;
}

.kontakta_oss a{
    color: rgb(182, 94, 21);
}


@media screen and (min-width: 400px) {
    .about_corona h2{
        box-shadow: 12px 10px 5px -8px steelblue;
    }

    .mindre_bild{
        height: 26vh;
        position: absolute;
        right: -4vw;
        top: 5vh;
    }

    .restyper p{
        font-size: 2.5vh;
    }
}








.gridwrapper-min-sida{
    display: grid;
    grid-template-areas:
    "na na na na"
    "se se se se"
    "fo fo fo fo"
    
    ;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10vh 100vh 70vh;
    grid-template-columns: 100vw 1fr 1fr 3fr;
   
    grid-gap: 0.7vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    background: linear-gradient(rgb(0, 0, 0), rgba(174, 23, 166, 0.776));
    z-index: 1;

}

video{
    margin: 0;
    left: 0;
    height: 115vh;
    z-index: 0;
}


@media screen and (max-width: 792px) {
    a{
        text-decoration: none;
        color: #444444;
    }

    .login-reg-panel{
        position: fixed;
        top: 80%;
        transform: translateY(-50%);
        text-align: left;
        width: 70%;
        right:0;
        left:0;
        margin: auto;
        height: 200px;
        background-color: rgb(30, 30, 30);
        grid-area: se;
        z-index: -1;
        border-radius: 10%;
        max-width: 300px;
        
    }

    .login-reg-panel h2{
        font-size: 2.3vh;
        padding: 0;
        text-align: left;
    }

    .login-reg-panel p{
        font-size: 1.4vh;

    }

    .white-panel{
        background-color: rgba(255,255, 255, 1);
        height: 300px;
        position: fixed;
        top: -160%;
        width: 100%;
        max-width: 300px;
        transition:.3s ease-in-out;
        z-index:0;
        border-radius: 10%;
    }

    .login-reg-panel input[type="radio"]{
        position: relative;
        display: none;
    }
    .login-reg-panel{
        color:#B8B8B8;
    }
    .login-reg-panel #label-login, 
    .login-reg-panel #label-register{
        border:1px solid #9E9E9E;
        padding:0 5px;
        width: 50%;
        display: block;
        text-align: center;
        border-radius:3px;
        cursor:pointer;
    }
    .login-info-box{
        width: 130%;
        padding: 0 50px;
        top: 20%;
        left: 0;
        position: absolute;
        text-align: left;
    }
    .register-info-box{
        width:130%;
        padding:0 50px;
        top: 20%;
        left: 0;
        position: absolute;
        text-align: left;
    }

    .login-show, 
    .register-show{
        z-index: 1;
        display:none;
        opacity:0;
        color:#242424;
        text-align:left;
        padding:50px;
    }
    .show-log-panel{
        display:block;
        opacity:0.9;
    }
    .login-show input[type="text"], .login-show input[type="password"]{
        width: 87%;
        display: block;
        margin:20px 0;
        padding: 10px;
        border: 1px solid #b5b5b5;
        outline: none;
    }

    .login-show input[type="button"] {
        width: 100%;
        background: #444444;
        color: #f9f9f9;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 2px;
        cursor:pointer;
    }
    .login-show a{
        display:inline-block;
        padding:15px 0;
    }

    .register-show input[type="text"], .register-show input[type="password"]{
        width: 87%;
        display: block;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #b5b5b5;
        outline: none;
    }
    .register-show input[type="button"] {
        width: 99%;
        background: #444444;
        color: #f9f9f9;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 2px;
        cursor:pointer;
    }
    .credit {
        position:absolute;
        bottom:10px;
        left:10px;
        color: #3B3B25;
        margin: 0;
        padding: 0;
        font-family: Arial,sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        z-index: 99;
    }
    a{
    text-decoration: none;
    color: #eaeaea;
    }
}



@media screen and (min-width: 793px) {
  .login-reg-panel{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align:center;
      width: 70%;
      right:0;
      left:0;
      margin:auto;
      height: 400px;
      background-color: rgba(30,30,30, 0.9);
      grid-area: se;
      z-index: -1;
      border-radius: 0%;
    }
  .white-panel{
      background-color: rgba(255,255, 255, 1);
      height: 500px;
      position:absolute;
      top:-50px;
      width:50%;
      right:calc(50% - 50px);
      transition:.3s ease-in-out;
      z-index:0;
  }
  .login-reg-panel input[type="radio"]{
      position:relative;
      display:none;
  }
  .login-reg-panel{
      color:#B8B8B8;
  }
  .login-reg-panel #label-login, 
  .login-reg-panel #label-register{
      border:1px solid #9E9E9E;
      padding:0 5px;
      width:150px;
      display:block;
      text-align:center;
      border-radius:3px;
      cursor:pointer;
  }
  .login-info-box{
      width:30%;
      padding:0 50px;
      top:20%;
      left:0;
      position:absolute;
      text-align:left;
  }
  .register-info-box{
      width:30%;
      padding:0 50px;
      top:20%;
      right:0;
      position:absolute;
      text-align:left;
      
  }
  .right-log{right:50px !important;}
  
  .login-show, 
  .register-show{
      z-index: 1;
      display:none;
      opacity:0;
      transition:0.3s ease-in-out;
      color:#242424;
      text-align:left;
      padding:50px;
  }
  .show-log-panel{
      display:block;
      opacity:0.9;
  }
  .login-show input[type="text"], .login-show input[type="password"]{
      width: 90%;
      display: block;
      margin:20px 0;
      padding: 15px;
      border: 1px solid #b5b5b5;
      outline: none;
  }
  .login-show input[type="button"] {
      max-width: 150px;
      width: 90%;
      background: #444444;
      color: #f9f9f9;
      border: none;
      padding: 10px;
      text-transform: uppercase;
      border-radius: 2px;
      float:right;
      cursor:pointer;
  }
  .login-show a{
      display:inline-block;
      padding:10px 0;
  }
  
  .register-show input[type="text"], .register-show input[type="password"]{
      width: 100%;
      display: block;
      margin:20px 0;
      padding: 15px;
      border: 1px solid #b5b5b5;
      outline: none;
  }
  .register-show input[type="button"] {
      max-width: 150px;
      width: 100%;
      background: #444444;
      color: #f9f9f9;
      border: none;
      padding: 10px;
      text-transform: uppercase;
      border-radius: 2px;
      float:right;
      cursor:pointer;
  }
  .credit {
      position:absolute;
      bottom:10px;
      left:10px;
      color: #3B3B25;
      margin: 0;
      padding: 0;
      font-family: Arial,sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      z-index: 99;
  }
  a{
    text-decoration: none;
    color: #eaeaea;
  }
}



.menyruta h1{
    margin-bottom: 3vh;
    font-size: 2vh;
}

.choice select{
    background:  rgba(29, 113, 190, 0.849);
    color: whitesmoke;
    padding: 10px;
    padding-left: 30vw;
    width: 100%;
    height: 40px;
    font-size: 9px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.808);
    -webkit-appearance: button;
    border: none;
    font-family: 'Muli', sans-serif;
    margin-bottom: 10px;
}

.datum input{
    background:  rgba(29, 113, 190, 0.849);
    color: whitesmoke;
    padding-left: 30vw;
    height: 40px;
    font-size: 9px;
    width: 40vw;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.808);
    border: none;
    font-family: 'Muli', sans-serif;
    margin-bottom: 10px;
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    position: relative;
    right: 0;
    height: 35px;
    width: 30px;
}

option{
    font-size: 3vw;
    padding: 10px;
    font-family: 'Muli', sans-serif;
}



.datum:before{
    content: '\f078';
    font-family: "FontAwesome";
    position: absolute;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    left: calc(100% - 40px - 3vh);
    width: 40px;
    height: 40px;
    background: rgb(79, 147, 211);
    pointer-events: none;
}

.datum:after{
    content: 'Välj destination';
    font-family: 'Muli', sans-serif;
    position: absolute;
    text-align: left;
    line-height: 40px;
    color: whitesmoke;
    left: 3vh;
    width: 20vw;
    height: 40px;
    background: rgb(79, 147, 211);
    pointer-events: none;
    padding-left: 10px;
    font-size: 9px;
}

.choice:before{
    content: '\f078';
    font-family: "FontAwesome";
    position: absolute;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    left: calc(100% - 40px - 3vh);
    width: 40px;
    height: 40px;
    background: rgb(79, 147, 211);
    pointer-events: none;
}

.choice:hover:before{
    background: rgb(182, 207, 231);
}

.var:after{
    content: 'Välj destination';


}

.choice:after{
    font-family: 'Muli', sans-serif;
    position: absolute;
    text-align: left;
    line-height: 40px;
    color: whitesmoke;
    left: 3vh;
    width: 20vw;
    height: 40px;
    background: rgb(79, 147, 211);
    pointer-events: none;
    padding-left: 10px;
    font-size: 9px;
}

@media screen and (min-width: 700px) {
    option{
        font-size: 15px;
    }
    .datum input{
        font-size: 15px;          
    }
    .choice select{
        font-size: 15px;
    }
    .choice:after{
        font-size: 15px;
    }
    
    .datum:after{
        font-size: 15px;
    }
}

@media screen and (min-width: 400px) {
    .menyruta h1{
        font-size: 2.5vh;
    }
}


.hur:after{
    content: 'Välj restyp';

}

.datum:after{
    content: 'Välj datum';
}

.antal:after{
    content: 'Antal resande';  
}

.search{
    height: 40px;
    background: rgb(79, 147, 211);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.search:hover{
    box-shadow: inset 126px 123px 221px -6px rgba(255, 255, 255, 0.534);
}

.search p{
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    position: relative;
    text-align: center;
    padding-top: 10px;
}





@media screen and (min-width: 0px) {
    .wrapper{
        height: 99px;
        width: 99px;
        transform: rotate(45deg);
        position: fixed;
        bottom: 10vh;
        left: 10vw;

        display: grid;
        grid-template-areas: 
        "b1 b2 b3"
        "b4 b5 b6"
        "b7 b8 b9"
        ;
        z-index: 2;
    }

    .box p{
        transform: rotate(-45deg);
        font-size: 13px;
    }
}

.fix-buttons{
    grid-area: fo;
    position: relative;
    top: 10vh;
    z-index: 1;
}

.wrapper-active{
    display: none;
}

.wrapper_minsida{
    display: none;
}


.box{
    background: black;
    display: flex;
    height: 33px;
    width: 33px;
    overflow: hidden;  
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    margin: 2px;
    transition: 0.3s;
}



.center-box{
    background-color: rgba(40, 201, 255, 0.719);
    grid-area: b5;
    opacity: 1;
}

.center-box-active{
    background-color: #e91e62;

}



.box:hover{
    background-color: rgba(240, 248, 255, 0.685);
}

.box:active{
    background-color: rgba(8, 73, 129, 0.685);
}

.box-active{
    opacity: 1;
}

.box p{
    font-size: 13px;
}

box p i{
    color: aliceblue;

}

.center-box-active p i{
    font-size: 15px;
}

.box:hover i{
    color: black;
}


.diamond-grid{
    padding: 0;
    position: absolute;
    grid-area: se;
    width: 70vw;
    height: 70vw;
    transform: rotate(45deg);
    position: absolute;
    top: -150px;
    left: calc((100vw - 70vw) / 2);
    
    display: grid;
    grid-template-areas: 
    "n01 n02 n03 n04 n05"
    "n06 n07 n08 n09 n10"
    "n11 n12 n13 n14 n15"
    "n16 n17 n18 n19 n20"
    "n21 n22 n23 n24 n25"
    ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}

.diamond-grid-active{
    display: none;
}


h1{
    color: rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

h2{
    font-family: 'Titillium Web', sans-serif;
}


p{
    color: rgb(250, 250, 250);
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4vh;
}



.login-reg-panel p{
    padding-top: 5px;
    padding-bottom: 15px;
}


.icon{
    font-size: 4vh;
    cursor: pointer;
}

#user_logo{
    font-size: 7vh;
}

#user_logo_index{
    font-size: 5vh;
}

#logga_in_link{
    position: relative;
    right: 0;
    width: 25vw;
}

.mindre_link_text{
    color: #444444;
}







.gridwrapper-weather{
    display: grid;
    grid-template-areas:
    "na na na na"
    "he he he he"
    "s1 s1 s1 s1"
    "s2 s2 s2 s2"
    "s3 s3 s3 s3"
    "s4 s4 s4 s4"
    "s5 s5 s5 s5"
    "s6 s6 s6 s6"
    "s7 s7 s7 s7"
    "s8 s8 s8 s8"
    "fo fo fo fo"
    
    ;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10vh 40vh 70vh 70vh 70vh 70vh 70vh 70vh 70vh 90vh 200vh;
    grid-template-columns: 100vw 1fr 1fr 1fr;
   
    grid-gap: 0.7vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    background: linear-gradient(rgb(0, 0, 0), rgba(174, 23, 166, 0.776));
    z-index: 1;

}

.weather_image{
    grid-area: he;
    height: 40vh;
    background-image: url(../img/cloud_sky_mountain_snow-7497.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.weather_image h1{
    display: inline;
    position: absolute;
    bottom: -14vh;
    padding: 2vh;
    padding-left: 3vh;
    padding-right: 100%;
    font-size: 12vh;
    color: rgb(44, 169, 185);
    font-family: 'Titillium Web', sans-serif;
    box-shadow: rgb(11, 56, 70) 50vh 4px 60vh 7px inset;
    background: rgb(255, 255, 255);
}


.card{
    grid-area: s1;
    height: 60vh;
    width: 86%;
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translateX(0);
    z-index: -3;

}

.card2{
    grid-area: s2;
}



.card3{
    grid-area: s3;
}

.card4{
    grid-area: s4;
}

.card5{
    grid-area: s5;
}

.card6{
    grid-area: s6;
}

.card7{
    grid-area: s7;
}

.card8{
    grid-area: s8;
    margin-bottom: 500px;
}


@media screen and (min-width: 480px) {

    .gridwrapper-weather{
        display: grid;
        grid-template-areas:
        "na na na na"
        "he he he he"
        "s1 s1 s2 s2"
        "s3 s3 s4 s4"
        "s5 s5 s6 s6"
        "s7 s7 s8 s8"
        "fo fo fo fo"
        
        
        ;
        height: 100vh;
        width: 100vw;
        grid-template-rows: 10vh 40vh 70vh 70vh 70vh 90vh 160vh ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
        grid-gap: 0.7vh;
        z-index: 1;
    }

    .card{
        height: 60vh;
        width: 90%;
        position: absolute;
        top: 20%;
        left: 5%;
        transform: translateX(0);
        z-index: -3;
    
    }

}

@media screen and (min-width: 800px) {

    .gridwrapper-weather{
        display: grid;
        grid-template-areas:
        "na na na na na na"
        "he he he he he he"
        "s1 s1 s2 s2 s3 s3"
        "s4 s4 s5 s5 s6 s6"
        "s7 s7 s7 s8 s8 s8"
        "fo fo fo fo fo fo"
        ;
        grid-template-rows: 10vh 40vh 70vh 70vh 90vh 65vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .card{
        height: 60vh;
        width: 90%;
        position: absolute;
        transform: translateX(0);
        z-index: -3;
    
    }

}


.card .front{
    width: 100%;
    height: 100%;
    background-image: url(../img/mathieu-bigard-OIautOqmEGg-unsplash.jpg);
    background-size: cover;
    padding: 5vh;
    box-sizing: border-box;
    transition: .5s;
    transform-origin: right;
    transform: translateX(0%) rotate(0deg);
}

.card2 .front{
    background-image: url(../img/marco-bonomo-491PQ04olSg-unsplash.jpg);
    background-size: cover;
}


.card3 .front{
    background-image: url(../img/joshua-reddekopp-7Oq9r2CiTLg-unsplash.jpg);
    background-size: cover;
}

.card4 .front{
    background-image: url(../img/stanley-dai-QLfjlyEamV4-unsplash.jpg);
    background-size: cover;
}

.card5 .front{
    background-image: url(../img/joshua-reddekopp-7Oq9r2CiTLg-unsplash.jpg);
    background-size: cover;
}

.card6 .front{
    background-image: url(../img/marco-bonomo-491PQ04olSg-unsplash.jpg);
    background-size: cover;
}

.card7 .front{
    background-image: url(../img/stanley-dai-QLfjlyEamV4-unsplash.jpg);
    background-size: cover;
}

.card8 .front{
    background-image: url(../img/joshua-reddekopp-7Oq9r2CiTLg-unsplash.jpg);
    background-size: cover;
}

.location{
    font-weight: bold;
    width: 50%;
    text-align: left;
    float: left;
    color: #fff;
    font-size: 3vh;
}

.more{
    width: 50%;
    text-align: right;
    cursor: pointer;
    float: right;
    font-size: 3vh;
    color: #fff;
    display: block;
}

.weather{
    padding: 10vh 0 5vh;
    text-align: center;
}

.weather .fas{
    font-size: 10vh;
    color: white;
}

.weather h1{
    margin: 0;
    padding: 0;
    font-size: 4vh;
    color: white;
    text-align: center;
}

.weather span{
    margin: 0;
    padding: 0;
    font-size: 2vh;
    color: white;
}



.forecast{
    margin-top: 5vh;
    padding: 0;
}

.forecast li{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.forecast li:nth-child(3){
    border-bottom: none;
}

.forecast li .day{
    width: 50%;
}

.forecast li .temp{
    width: 50%;
    text-align: right;
}

.card .back{
    grid-area: se;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(30,30,30, 0.9);
    padding: 4vh;
    box-sizing: border-box;
    top: 0;
    left: 0%;
    transform-origin: left;
    transition: 0.5s;
    transform: translateX(100%) rotateY(90deg);
}

.card .back-active{
    transform: translateX(0%) rotate(0deg);
}

.card .front-notActive{
    transform: translateX(-100%) rotateY(90deg);
}


.go-back{
    font-size: 3vh;
    color: white;
    text-align: right;
}
.go-back .fa{
    cursor: pointer;
    color: white;
}

.forecast .fa{
    padding-right: 2vw;
}

.logo{
    height: 14vh;
}

.icon p{
    font-family: 'Mukta', sans-serif;
    font-size: 2.5vh;
}

fas{
    color: white;
    font-size: 20px;
}

a{
    text-decoration: none;
}

.link_to_more{
    height: 7vh;
    width: 100%;
    background: #e91e6200;
    border: #63cdf7 3px solid;
    margin-top: 10vh;
    border-radius: 10px;
}

.link_to_more:hover{
    transition: ease-in-out 0.2s;
    background:  #63cdf7;
}

.link_to_more p{
    font-size: 2vh;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2.5vh;

}










.mountain{
    width: 30vh;
    position: relative;
    left: calc((100vw - 30vh) / 2);
}

.minigrid{
    display: grid;
    grid-template-areas: 
    "a1 a2 a3";
    grid-template-columns: 6fr 1fr 1fr 3fr;
    height: 20vh;
    width: 90vw;
}

.a1{
    grid-area: a1;
    height: 20vh;
    width: 30vw;
    margin-top: 20px;
}

.a2{
    grid-area: a2;
    height: 20vh;
    width: 30vw;
}

.a3{
    grid-area: a3;
    height: 20vh;
    width: 30vw;
    margin-top: 20px;
}

.medium{
    height: 13vh;
    grid-area: a2;
    margin-top: 25px;
    width: 12vw;
}

.with_line::after{
    content: "";
    width: 30%;
    height: 0.3vh;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 35%;
    margin: -5px 0;


}

.with_line{
    margin: 1vh;
}

footer{
    grid-area: fo;
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: rgba(9, 73, 133, 0.776);
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

/* .inner_footer .logo_container{
    display: block;
    position: absolute;
    top: -30px;
    right: 0;
    margin-bottom: 20vh;
}

.inner_footer .logo_container img{
    width: 170px;
    height: auto;
    margin-left: 230px;
    
} */

.inner_footer .footer_third{
    width: calc(22% -20px);
    margin-right: 20px;
    float: left;
   
}

.inner_footer .footer_third_one{
    margin-left: 300px;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;
}

.inner_footer .footer_third h1{
    margin-bottom: 20px;
    display: block;
    width: 100%;
    font-size: 14px;
    padding-right: 50px;
}

.inner_footer .footer_third a{
    padding-bottom: 2px;
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 200;
    transition: 0.3s ease-in;
}

.inner_footer .footer_third a:hover{
    padding-left: 10px;
    color: rgb(245, 144, 77);

}




@media screen and (max-width: 1050px) {
    .inner_footer{
        display: block;
        margin: 0 auto;
        margin-left: 300px;
        width: 500px;
        height: 100%;
    }
    .inner_footer .footer_third{
        margin-left: 0px;
        margin-block-start: 25px;
    }
    

}

@media screen and (max-width: 750px){
    footer .inner_footer{
        width: 100%;
        position: relative;
        margin-left: 35px;
    }

    .inner_footer .logo_container,
    .inner_footer .footer_third{
        width: 100%;
        margin-bottom: 20px;
    }

    .inner_footer .footer_third_one{
        margin-top: 25vh; 
        margin-left: 0;
    }

    .inner_footer .footer_third h1{
        font-size: 25px;
        color: rgb(255, 255, 255);
    }
    
    .inner_footer .footer_third a{
        padding-bottom: 2px;
        font-size: 16px;
        font-weight: bolder;
    }
}





.gridwrapper-orter{
    display: grid;
    grid-template-areas:
    "na na na na"
    "s1 s1 s1 s1"
    "se se se se"
    "se se se se"
    "se se se se"
    "a1 a1 a1 a1"
    "a2 a2 a2 a2"
    "a3 a3 a3 a3"
    "a4 a4 a4 a4"
    "a5 a5 a5 a5"
    "a6 a6 a6 a6"
    "a7 a7 a7 a7"
    "a8 a8 a8 a8"
    "fo fo fo fo"
    ;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10vh 43vw 58vw 20vh 1fr 350vh 350vh 350vh 350vh 350vh 350vh 350vh 350vh 170vh;
    grid-template-columns: 6fr 1fr 1fr 3fr;
    background: whitesmoke;
    grid-gap: 0.7vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
   
}

.orter_ruta{
    grid-area: se;
    height: 80vw;
    width: 100vw;
    background: whitesmoke;
    z-index: -1;
}

.orter_ruta h1{
    font-family: 'Mukta', sans-serif;
    font-size: 6vh;
    color: black;
    margin: 6vh;
    box-shadow: 24px 10px 12px -8px steelblue;
}

.diamond-grid-orter{
    position: absolute;
    grid-area: se;
    width: 70vw;
    height: 70vw;
    transform: rotate(45deg);
    position: absolute;
    top: 15vh;
    left: calc((100vw - 70vw) / 2);
    
    display: grid;
    grid-template-areas: 
    "n01 n02 n03 n04 n05"
    "n06 n07 n08 n09 n10"
    "n11 n12 n13 n14 n15"
    "n16 n17 n18 n19 n20"
    "n21 n22 n23 n24 n25"
    ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}


.item{
    background: linear-gradient(rgb(4, 5, 61), rgba(9, 73, 133, 0.776));;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover{
    background: rgba(27, 154, 192, 0);    
    box-shadow: 10px 10px 30px 5px steelblue;
    
}


.item{
    background: linear-gradient(rgb(4, 5, 61), rgba(9, 73, 133, 0.776));;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1{
    grid-area: n04;
}

.item2{
    grid-area: n08;
}

.item3{
    grid-area: n09;
    background: rgba(9, 73, 133, 0.776);
}

.item4{
    grid-area: n10;
}

.item5{
    grid-area: n12;
}

.item6{
    grid-area: n13;
    background: rgb(4, 5, 61);
}

.item7{
    grid-area: n14;
}

.item8{
    grid-area: n16;
}

.item9{
    grid-area: n17;
    background: rgba(9, 73, 133, 0.776);
}

.item10{
    grid-area: n18;
}
.item11{
    grid-area: n22;
}

.item h2{
    color: #f9f9f9;
    transform: rotate(-45deg);
    font-size: 0.5vh;
}

@media screen and (min-width: 500px) {
    .item h2{
      font-size: 1.5vh;
      }
  }

@media screen and (min-width: 1000px) {


    .diamond-grid-orter{
        width: 35vw;
        height: 35vw;
        left: 10vw;
    }

    .orter_ruta{
        height: 50vw;
    }

    .gridwrapper-orter{
        display: grid;
        grid-template-areas:
        "na na na na"
        "s1 s1 se se"
        "a1 a1 a1 a1"
        "a2 a2 a2 a2"
        "a3 a3 a3 a3"
        "a4 a4 a4 a4"
        "a5 a5 a5 a5"
        "a6 a6 a6 a6"
        "a7 a7 a7 a7"
        "a8 a8 a8 a8"
        "fo fo fo fo"
        ;
        grid-template-rows: 10vh 43vw 350vh 350vh 350vh 350vh 350vh 350vh 350vh 350vh 170vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .img-orter{
        width: 75vw;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        left: -20vw;
    }
}


.item:hover h2{
    color: rgb(14, 19, 70);
} 

.item3:hover, .item9:hover{
    background: rgba(9, 73, 133, 0.776);
}

.item6:hover{
    background: rgb(4, 5, 61);
}




.article_orter{
    height: 270vh;
    width: 100%;
    background: whitesmoke;
    z-index: -2;
    margin-bottom: 5vh;
    text-align: left;
    grid-area: a1;

}

#article2_orter{
    grid-area: a2;

}

#article3_orter{
    grid-area: a3;
}

#article4_orter{
    grid-area: a4;
}

#article5_orter{
    grid-area: a5;
}

#article6_orter{
    grid-area: a6;
}

#article7_orter{
    grid-area: a7;
}

#article8_orter{
    grid-area: a8;
}

/* #section3_index{
    margin-left: 5%;
    z-index: -2;
    grid-area: a3;
}
#section4_index{
    margin-left: 5%;
    z-index: -2;
    grid-area: a4;
}
#section5_index{
    margin-left: 5%;
    z-index: -2;
    grid-area: a5;
}
#section6_index{
    margin-left: 5%;
    z-index: -2;
    grid-area: a6;
}
#section7_index{
    margin-left: 5%;
    z-index: -2;
    grid-area: a7;
    height: 270vh;
    background: whitesmoke;
}
#section8_index{
    margin-left: 5%;
    z-index: -2;
    grid-area: a8;
} */


.article_image_orter{
    height: auto;
    width: 90vw;
    margin-left: 5vw;

}

.article_orter h1{
    margin: 30px;
    padding-right: 40px;
    color: rgb(15, 15, 15);
    font-family: 'Titillium Web', sans-serif;
    font-size: 4vh;   
    display: inline-block; 
    box-shadow: 10px 10px 12px -8px steelblue;
}

.article_orter h3{
    margin: 30px;
    color: rgb(15, 15, 15);
    font-family: 'Titillium Web', sans-serif;
    font-size: 3vh;

}

.article_orter p{
    margin: 30px;
    color: rgb(15, 15, 15);
    font-family: 'Titillium Web', sans-serif;
    font-size: 2vh;
}

.skidinfo-grid{
    display: grid;
    grid-template-areas: 
    "n1"
    "n2"
    "n3"
    "n4";
    height: 200vh;
    width: 100vw;  
    grid-gap: 10px;
}

.skidinfo{
    height: 50vh;
    width: 70vw;
 
    position: relative;
    left: 15vw;
}

.skidinfo_1{
    grid-area: n1;
}

.skidinfo_2{
    grid-area: n2;
}

.skidinfo_3{
    grid-area: n3;
}

.skidinfo_4{
    grid-area: n4;
}




.skidinfo h4{
    margin: 30px;
    color: rgb(15, 15, 15);
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5vh;
    text-align: center;
    margin-top: 10vh;
    padding-bottom: 1vh;;
}

.skidinfo p{
    margin: 0px;
    color: rgb(15, 15, 15);
    font-family: 'Mukta', sans-serif;
    font-size: 1.5vh;
    display: inline-block;
    width: 34vw;
    height: 7vh;
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
    font-weight: bold;
}

@media screen and (min-width: 500px) {
    .skidinfo-grid{
        display: grid;
        grid-template-areas: 
        "n1 n2"
        "n3 n4";
        grid-template-rows: 50vh 50vh;
        grid-template-columns: 40vw 40vw;
        height: 200vh;
        width: 100vw;  
        grid-gap: 3px;
    }
    .skidinfo{
        height: 50vh;
        width: 40vw;   border: 1px solid black;
        border: 1px solid black;
        position: relative;
        left: 10vw;
        position: relative;
    }

    .skidinfo p{
        margin: 0px;
        width: 19vw;
        height: 7vh;
    }
}

@media screen and (min-width: 900px) {
    .skidinfo-grid{
        grid-template-areas: 
        "n1 n2 n3 n4";
        grid-template-rows: 50vh;
        grid-template-columns: 20vw 20vw 20vw 20vw;
    }
    .skidinfo{
        width: 20vw;
    }

    .skidinfo p{
        width: 9.8vw;
        height: 7vh;
    }
}

.skidinfo i{
    font-size: 8px;
}

.blue{
    color: blue;
    margin: 0 20px;
}

.red{
    color: red;
    margin: 0 20px;
}

.black{
    color: black;
    margin: 0 20px;
}

.center{
    text-align: center;
}

#large_icon{
    font-size: 5vw;
    display: block;
    position: absolute;
    right: calc((100% - 5vw) / 2);
    margin-top: 4vh;
    color: #1598cc;

}

.blue_slopes{
    margin-top: 20px;
}



.gridwrapper-erbjudanden{
    display: grid;
    grid-template-areas:
    "na na na na"
    "he he he he"
    "ma ma ma ma"
    "a1 a1 a1 a1"
    "fo fo fo fo"
    ;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10vh 60vh 104vh 240vh 170vh;
    background: linear-gradient(rgb(0, 0, 0), rgba(174, 23, 166, 0.776));
    background: whitesmoke;
    grid-gap: 0.7vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
}

.resetips{
    grid-area: ma;
}

.resetips h2{
    text-align: center;
    font-size: 4vh;
    font-family: 'Mukta', sans-serif;
}

.resetips h3{
    margin-left: 5vw;
    margin-top: 2vh;
    font-size: 3.5vh;
}

.resetips p{
    color: #444444;
    margin: 3vw 10vh 0 5vw;
    font-family: 'Mukta', sans-serif;
}

.hotels{
    grid-area: a1;
    grid-template-areas: 
    "01"
    "02"
    "03"
    "04"
    "05"
    "06"
    "07";
    grid-gap: 4vh;
}


.hotels section{
    height: 30vh;
    background: greenyellow;
    margin-bottom: 5vh;

}

.hotels p{
    color: #444444;
    margin: 3vw 10vh 0 5vw;
    font-family: 'Mukta', sans-serif;
    font-size: 2vh;
}

.read_more{
    height: 4vh;
    width: 30vh;;
    background: #e91e6200;
    border: #63cdf7 3px solid;
    border-radius: 10px;
    margin-left: 3vh;
    margin-top: 4vh;
}
 
.read_more p{
    color: #444444;
    font-family: 'Mukta', sans-serif;
    font-size: 1.9vh;
    text-align: center;
    margin: 0;
    margin-top: 0.75vh;
}

.read_more:hover{
    background: #63cdf7;

}